<div id="home" class="cover">
    <div>
      <img
        src="assets/logo.png"
        alt="Logo"
        class="home-logo"
      />
      <h1 style="font-family: fangsong;font-weight: bolder;">ANGEL MARKING SYSTEMS</h1>
      <p class="tagline">------- TOUCHING YOUR HEART ------</p>
    </div>
  </div>
  <div id="about">
    <app-aboutus></app-aboutus>
  </div>
  <div id="products">
    <h2>Products</h2>
    <app-products></app-products>
  </div>
  <div id="contact">
    <h2>Contact Us</h2>
    <app-contact-us></app-contact-us>
  </div>

<app-footer></app-footer>